<!DOCTYPE html>
<html lang='en'>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/in_header.css">
  <link rel="stylesheet" href="../css/calendar.css">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&display=swap" rel="stylesheet">
</head>

<body>
  {{>in_header}}
  <div id="calendar">
    <img class="nav_arrow" id="back_arrow" src="../images/edit_arrow_4.png">
    <h1 id="month">{{month}} {{year}}</h1>
    <img class="nav_arrow" id="forward_arrow" src="../images/edit_arrow_4.png">
    <h3 id='inc_exp'></h3>
  </div>
    <div id="days_cont">
      <div class="day">{{1}}</div>
      <div class="day">{{2}}</div>
      <div class="day">{{3}}</div>
      <div class="day">{{4}}</div>
      <div class="day">{{5}}</div>
      <div class="day">{{6}}</div>
      <div class="day">{{7}}</div>
      <div class="day">{{8}}</div>
      <div class="day">{{9}}</div>
      <div class="day">{{10}}</div>
      <div class="day">{{11}}</div>
      <div class="day">{{12}}</div>
      <div class="day">{{13}}</div>
      <div class="day">{{14}}</div>
      <div class="day">{{15}}</div>
      <div class="day">{{16}}</div>
      <div class="day">{{17}}</div>
      <div class="day">{{18}}</div>
      <div class="day">{{19}}</div>
      <div class="day">{{20}}</div>
      <div class="day">{{21}}</div>
      <div class="day">{{22}}</div>
      <div class="day">{{23}}</div>
      <div class="day">{{24}}</div>
      <div class="day">{{25}}</div>
      <div class="day">{{26}}</div>
      <div class="day">{{27}}</div>
      <div class="day">{{28}}</div>
      <div class="day">{{29}}</div>
      <div class="day">{{30}}</div>
      <div class="day">{{31}}</div>
    </div>

    {{>pop_up_msg}}

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../js/axios/entryconfig.js" var entry_config;></script>
  <script src="../js/utils/months_objs.js" var months; var days;></script>
  <script src='../js/calendar/calendar_nav.js' var monthURL; var yearURL;></script>
  <script src="../js/utils/pop_up_msg.js" var displayMsg;></script>
  <script src="../js/user/logout.js"></script>
  <script src="../js/showhide/nav_menu.js"></script>
  <script src="../js/utils/date_regex.js" var getMonth; var getYear; getDate; var days_abbr;></script>
  <script src="../js/api/calendar.js"></script>
  <script src='../js/calendar/removedays.js'></script>

</body>
</html>
