<!DOCTYPE html>
<html lang='en'>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/in_header.css">
  <link rel="stylesheet" href="../css/create.css">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&display=swap" rel="stylesheet">
</head>
  {{>in_header}}
<body>
  <h1>Create Entry</h1>
  <form>
    <label id="date_lab" for='date'>Date</label>
    <input placeholder='mm/dd/yy' class='field' type='text' id='date' name='date' class='small_input' required></input>

    <label id='sleep_lab' for="sleep">Sleep</label>
    <select class ="small_input field" id="sleep" name="sleep" required>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>

    <label id="diet_lab" for="diet">Diet</label>
    <select class ="small_input field" id="diet" name="diet" required>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>

    <label id="exp_lab" for="expenses">Expenses</label>
    <input class ="small_input field" type="number" id="expenses" name="expenses" required></input>

    <label id="inc_lab" for="income">Income</label>
    <input class ="small_input field" type="number" id="income" name="income" required></input>

    <label class="txt_label" id="exer_lab"for="exercise">Exercise</label>
    <textarea required class='field' id="exercise" name="exercise" rows="6" cols="40"></textarea>

    <label class="txt_label" id="work_lab" for="work">Work</label>
    <textarea required class='field' id="work" name="work" rows="6" cols="40"></textarea>

    <label class="txt_label" id="notes_lab" for="notes">Notes</label>
    <textarea required class='field' id="notes" name="notes" rows="6" cols="40"></textarea>

    <button id='submit' class='button' type='submit'>Submit</button>

  </form>

  {{>pop_up_msg}}

  <script src="../js/create/compareMessage.js" var compareMessage;></script>
  <script src="../js/api/loadMostRecent.js" var loadMostRecent;></script>
  <script src="../js/utils/pop_up_msg.js" var displayMsg;></script>
  <script src="../js/user/logout.js"></script>
  <script src="../js/showhide/nav_menu.js"></script>
  <script src="../js/utils/months_objs.js" var months;></script>
  <!-- can we export an object from date regex instead of this -->
  <script src="../js/utils/date_regex.js" var formatDate; var formatTommddyy; var mmddyyToStr; var verifyFormat; var getMonth;></script>
  <script src="../js/api/create_entry.js"></script>

</body>
</html>
