<!DOCTYPE html>
<html lang="en">
<head>
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/in_header.css">
  <link rel="stylesheet" href="../css/help.css">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&display=swap" rel="stylesheet">
</head>

<body>
  {{>in_header}}
  <div id="wrap">
    {{>help_cont img_src='../images/calendar_help.png'}}
    {{>help_cont img_src='../images/entry_help.png'}}
  </div>

  <button class='button' type='button'><a href="/create">Get Started!</a></button>

  <script src="../js/nav_menu.js"></script>
  <script src="../js/help_cont_swap.js"></script>
</body>
</html>
