<!DOCTYPE html>
<html lang="en">
<head>
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/in_header.css">
  <link rel="stylesheet" href="../css/help.css">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&display=swap" rel="stylesheet">
</head>

<body>
  {{>in_header}}
  <h1>Welcome!</h1>

  <div id="wrap">

    {{>help_cont
      img_src='../images/entry_help.png'
      help_text="Creating entries is quick and painless. Today's date is already determined,
      or you can change it if you are backlogging entries. Sleep and diet are rated on a 10 point-scale.
      0 if you ate ice cream all day or 10 if you're a perfectly balanced caloric macro warrior. Finances are tracked through
      expenses and income. The three text areas allow you to write quick blurbs about your daily activities. GrindCheck works
      best when you keep it quick and easy."
    }}

    {{>help_cont
        img_src='../images/calendar_help.png'
        help_text="Our calendar page offers an easy way to review your month. Monthly finances are totalled for you as well as displayed
        on the day they ocurred. If an entry is highlighted in yellow, the sleep or diet value for the day was below 7. If an entry is green
        then your sleep and diet values were both above 7. Lack of highlighting indicates that an entry was missed."
    }}
  </div>

  {{>pop_up_msg}};

  <button class='button' type='button'><a href="/create">Get Started!</a></button>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../js/axios/userconfig.js" var user_config;></script>
  <script src="../js/user/logout.js"></script>
  <script src='../js/utils/pop_up_msg.js' var displayMsg;></script>
  <script src="../js/showhide/nav_menu.js"></script>
  <script src="../js/help/help_cont_swap.js"></script>
  <script src='../js/help/help_highlight.js'></script>
</body>
</html>
