<!DOCTYPE html>
<html lang='en'>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/out_header.css">
  <link rel="stylesheet" href="../css/landing.css">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&display=swap" rel="stylesheet">
</head>
  {{>out_header}}
<body>

  <div id='splash'>

    <h1>GrindCheck</h1>
    <h2>A web application for self improvement</h2>

  </div>

  <div id="blurbs">

    <h2>Stay Consistent</h2>
    <h2>Easy Entries</h2>
    <h2>Review Your Progress</h2>

    <p>Our calendar allows you to track your journaling consistency at a glance. Monthly spending is summarized to help you reach your financial goals. If you missed a day, you can always go back and record it later on.
    </p>

    <p>Designed to be concise - save the real journaling for pen and paper. Rate sleep & diet on a ten-point scale, track income and expenses and write quick blurbs about your daily activities - work, exercise, and any other notes you may have.</p>

    <p>Building new habits is only done by being consistent. Review your most recents days for successful change, or search for individual entries to see how you've improved over time.</p>

  </div>

  <button class='button'><a href="/sign_up">Create Account</a></button>


</body>
</html>
