<!DOCTYPE html>
<html lang="en">
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/out_header.css">
  <link rel="stylesheet" href="../css/login.css">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&display=swap" rel="stylesheet">
</head>

<body>
  {{>out_header}}
  <form>
    <h1 id="message">Login</h1>
    <label for="email">Email </label>
    <input class='field' required type='text' name='email'>
    <label for='password'>Password </label>
    <input class='field' required password type='password' name='password'>
    <button class='button' type='submit'>Login</button>
  </form>

  <div id="create_ok">
    <h2 id='alert_msg'></h2>
    <button id="hide_msg" class='button'>Ok</button>
  </div>

    <script src='../js/login.js'></script>


</body>

</html>
