<!DOCTYPE html>
<html lang='en'>
<head>
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/in_header.css">
  <link rel="stylesheet" href="../css/recent.css">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&display=swap" rel="stylesheet">
</head>
  {{>in_header}}
<body>

  <div id="num_input">
    <label id='num_lab' for='num'>Number of entries</label>
    <select name='num' id='num'>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>5</option>
    </select>
    <button class='button' id='go'>Retrieve</button>
  </div>

  <div id="btn_cont">
    <button class="date_btn date_selected" id="btn_1"></button>
    <button class="date_btn" id="btn_2"></button>
    <button class="date_btn" id="btn_3"></button>
  </div>

  <table>
    <tr class='top_row'>
      <th>Sleep</th>
      <th>Diet</th>
      <th>Expenses</th>
      <th>Income</th>
    </tr>
    <tr>
      <td id="sleep"></td>
      <td id="diet"></td>
      <td id="expenses"></td>
      <td id="income"></td>
    </tr>
  </table>

  <div id="text_btns">
    <button class="txt_btn" id="work_btn">Work</button>
    <button class="txt_btn" id="exer_btn">Exercise</button>
    <button class="txt_btn notes_selected" id="gen_btn">Notes</button>
  </div>

  <p class='field' id="notes_display"></p>

  {{>pop_up_msg}}

  <script src="../js/pop_up_msg.js" var displayMsg;></script>
  <script src="../js/logout.js"></script>
  <script src="../js/nav_menu.js"></script>
  <script src="../js/create_grid.js"var formatDateGrid; var mobile_recents; var addDateButtonDOM;></script>
  <script src="../js/get_recents.js"></script>

</body>
</html>
