<!DOCTYPE html>
<html lang="en">
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/login.css">
</head>

<body>
  {{>out_header}}

  <form>
    <label for="email">Email: </label>
    <input id="email" required type='text' name='email'>
    <label for='password'>Password: </label>
    <input id="password" required type='password' type='text' name='password'>
    <input type='submit' value='Sign Up'>
    <script src='../js/login.js'></script>
  </form>

  <script src="../js/nav_menu.js"></script>
  <script src="../js/register.js"></script>
</body>

</html>
