<header>
  <h1>Grind Check</h1>
  <p>the modern journal</p>
  <nav>
    <ul>
      <li><a href='#'>Log In</a></li>
      <li><a href='#'>Sign Up</a></li>
      <li><a href='#'>Help</a></li>
      <li><a href='#'>About</a></li>
    </ul>
  </nav>
</header>
