<header>
  <div id="branding">
    <h1>Grind Check</h1>
    <h2>the modern journal</h2>
  </div>
  <nav>
    <ul>
      <li><a href='{{link_1}}'>{{option_1}}</a></li>
      <li><a href='{{link_2}}'>{{option_2}}</a></li>
    </ul>
  </nav>
</header>
