<header>
  <div id="branding">
    <a id="mobile_brand" href='/'><img src="../images/mobile_brand.png"></a>
    <h1><a href='/index'>Grind Check</a></h1>
    <h2>the modern journal</h2>
  </div>
  <nav>
    <ul>
      <li><a href='{{link_1}}'>{{option_1}}</a></li>
      <li><a href='{{link_2}}'>{{option_2}}</a></li>
    </ul>
  </nav>
</header>
