textarea {
  resize: none;
}

form {
  background-color: #E5F9F1;
  border: 3px solid #269D6B;
  border-radius: 8px;
  padding: .5rem;
  margin: 1.5% auto 1.5% auto;
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-gap: 1.5rem;
  grid-template-areas:
  ". date_lab date ."
    "sleep_lab sleep diet_lab diet"
    "exp_lab expenses inc_lab income"
    "exer_lab exer_lab exercise exercise"
    "work_lab work_lab work work"
    "notes_lab notes_lab notes notes"
    ". submit submit .";
}

.field {
  padding: .5rem;
}


textarea {
  width: 80%;
  margin-right: 20%;
  font-family: "Cabin", serif;
}

.txt_label {
  font-size: 1.75rem;
  align-self: center;
}

.small_input {
  width: 72.5%;
  margin-right: 20%;
}

input {
  font-family: "Cabin", serif;
}

.button {
  font-size: 1.5rem;
  width: 60%;
  margin: 0 auto;
}

#create_ok {
  display: none;
  position: absolute;
  width: 200px;
  padding: 2rem;
  background-color: #E89EA4;
  border: 3px solid #D24652;
  border-radius: 8px;
  left: calc(50% - (100px + 1.5rem));
  top: 40%;
}

#create_ok h2 {
  color: white;
}

#hide_msg {
  background-color: #F9F2E6;
  border-color: #F9F2E6;
  color: black;
}

@media only screen and (max-width: 645px){

  form {
    grid-gap: 1rem;
  }

  label {
    font-size: 1.25rem;
  }

  #submit {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 520px){

  form {
    width: 90%;
    grid-template-rows: repeat(12, auto);
    grid-template-areas:
    "date_lab date_lab date date"
    "sleep_lab sleep_lab sleep sleep"
    "diet_lab diet_lab diet diet"
    "exp_lab exp_lab expenses expenses"
    "inc_lab inc_lab income income"
    " . exer_lab exer_lab ."
    "exercise exercise exercise exercise"
    ". work_lab work_lab ."
    "work work work work"
    ". notes_lab notes_lab ."
    "notes notes notes notes"
    "submit submit submit submit"
  }

  label {
    font-size: 1.5rem;
  }

  .field {
    width: 80%;
  }

  .small_input {
    margin-right: auto;
    width: 80%;
  }

  #submit {
    margin: 5% auto;
  }
}

/* @media only screen and (max-width: 550px){
  label {
    font-size: 1rem;
  }
} */
