
header nav ul {
  font-size: 1.25rem;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  right: 3%;
  top: 60px;
  background-color: #84CDC2;
  transition: 1.5s;
}


header nav ul li {
  text-decoration: none;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
