body {
  background-color: #F0FBF7;
}

form {
  margin: 0 auto;
  background-color: #D2F4E6;
  height: calc(60vh - 80px);
  margin-top: calc(20vh - 80px);
  margin-bottom: calc(20vh - 80px);
  align-items: center;
  grid-gap: 1rem;
  max-width: 800px;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  border: 6px solid #248F62;
  border-radius: 60px;
}

.button {
  width: 40%;
  margin: 2% auto;
  grid-column: 1 / 3;
  font-size: 1.5rem;
}

#create_ok {
  display: none;
  position: absolute;
  width: 200px;
  padding: 2rem;
  background-color: #E89EA4;
  border: 3px solid #D24652;
  border-radius: 8px;
  left: calc(50% - (100px + 1.5rem));
  top: 40%;
}

#create_ok h2 {
  color: white;
}

#hide_msg {
  background-color: #F9F2E6;
  border-color: #F9F2E6;
  color: black;
}


h1 {
  grid-column: 1 / 3;
}

@media only screen and (max-width: 1100px){
  form {
    width: 80%;
  }
}

@media only screen and (max-width: 660px){
  form {
    width: 90%;
  }

  .field {
    padding: .75rem;
  }
}

@media only screen and (max-width: 550px) {
  form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    margin-top: 10%;
    margin-bottom: 10%;
    height: 100%;
  }

  label {
    grid-column: 1 / 3;
    margin: 0 auto;
  }
  input {
    grid-column: 1 / 3;
  }

}
