

#work_btn {
  grid-area: work_btn;
}

#exer_btn {
  grid-area: exer_btn;
}

#gen_btn {
  grid-area: gen_btn;
}

#num_lab {
  grid-area: num_lab;
}

#num {
  grid-area: num;
}

#go {
  grid-area: go;
}

#btn_cont {
  margin: 2% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-areas:
    "btn_1 btn_2 btn_3";
  width: 80%;
  margin: 2% auto;
}

#text_btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-areas:
    "work_btn exer_btn gen_btn";
  width: 80%;
  margin: 2% auto;
}

#num_input {
  font-family: "Cabin", sans-serif;
  margin: 2% auto;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "num_lab num"
    "go go";
}

#notes_display {
  width: 75%;
  margin: 2% auto;
  border: 2px solid rgba(50, 200, 137, 0.93);
  padding: 1rem;
  font-size: 1.25rem;
  text-align: center;
}

table {
  width: 25%;
  margin: 2% auto;
  text-align: center;
  font-family: "Cabin", sans-serif;
  font-size: 1.1rem;
}

tr {
  padding: .25rem;
}

td {
  border-top: 2px solid #32C889;
}

.date_selected {
  background-color: #69C0DB;
  color: white;
}

.notes_selected {
  background-color: #69C0DB;
  text-align: center;
  color: white;
}

#num_lab {
  justify-self: end;
  font-size: 1rem;
  width: auto;
}

#num {
  width: 30%;
}

#go {
  width: 20%;
  margin: 0 auto;
  font-size: 1.25rem;
}

button {
  padding: .5rem .75rem;
  width: 65%;
  margin: 2% auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.15rem;
}

select {
  padding: .25rem;
  font-size: 1rem;
}

#num_lab {
  font-size: 1.25rem;
}

@media only screen and (max-width: 1000px){
  #num_lab {
    width: 50%;
  }

  #num {
    width: 50%;
  }

  #btn_cont, #text_btns {
    width: 90%;
  }

  table {
    width: 40%;
  }

  .txt_btn {
    width: 90%;
  }

}

@media only screen and (max-width: 700px){
  #num_input {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "num_lab"
      "num"
      "go";
  }

  #num_lab {
    justify-self: center;
  }

  #num {
    width: 20%;
    margin: 0 auto;
  }

  #text_btns {
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 660px){
  button{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 550px){

  .txt_btn {
    width: 100%;
  }

  #num_lab {
    width: 80%;
  }

  #go {
    width: 40%;
    font-size: 1rem;
  }

  #btn_cont {
    width: 100%;
    grid-gap: .5rem;
    margin: 5% auto;
  }

  #btn_cont button {
    font-size: .75rem;
  }

  table {
    width: 90%;
    margin: 5% auto;
  }

  table td {
    padding: .5rem;
  }
}
