#btn_cont {
  margin: 2% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-areas:
    "btn_1 btn_2 btn_3";
  width: 80%;
  margin: 2% auto;
}

#text_btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-areas:
    "work_btn exer_btn gen_btn";
  width: 80%;
  margin: 2% auto;
}

#num_input {
  font-family: "Cabin", sans-serif;
  margin: 2% auto;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "num_lab num"
    "go go";
}

#notes_display {
  width: 75%;
  margin: 2% auto;
  border: 2px solid rgba(50, 200, 137, 0.93);
  padding: 1rem;
  font-size: 1.25rem;
  text-align: center;
}

table {
  width: 25%;
  margin: 2% auto;
  text-align: center;
  font-family: "Cabin", sans-serif;
  font-size: 1.1rem;
}

tr {
  padding: .25rem;
}

td {
  border-top: 2px solid #32C889;
}

.date_selected {
  background-color: #69C0DB;
  color: white;
}

.notes_selected {
  background-color: #69C0DB;
  text-align: center;
  color: white;
}

#num_lab {
  justify-self: end;
  font-size: 1rem;
  width: 30%;
}

#num {
  width: 30%;
}

#go {
  width: 20%;
  margin: 0 auto;
  font-size: 1.25rem;
}

button {
  padding: .5rem .75rem;
  width: 65%;
  margin: 2% auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.15rem;
}

select {
  padding: .25rem;
  font-size: 1rem;
}

#num_lab {
  font-size: 1.25rem;
}
