body, html {
  overflow-x: hidden !important;
}

#date_inp {
  grid-area: date_inp;
}

#submit {
  grid-area: submit;
}

#date {
  grid-area: date;
}

#entry_cont {
  grid-area: entry_cont;
}

#form {
  grid-area: form;
}


#grid_cont {
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "form form"
    "date date"
    "entry_cont entry_cont"
    "edit edit";
}

#entry_cont {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
}

.val_cont {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 1fr);
  align-self: center;
}

.val_cont h2 {
  margin-bottom: 0;
}

form {
  margin: 5% auto 2% auto;
}

#date_inp {
  font-family: "Cabin", serif;
  font-size: 1rem;
  margin-bottom: 5%;
}

#edit {
  grid-area: edit;
  display: block;
  padding: .8rem;
  width: 30%;
  font-size: 1.5rem;
  margin: 5% auto 2% auto;
}


#edit_cont {
  background-color: rgba(219, 246, 234, 0.95);
  width: 70%;
  display: block;
  padding: 0 1.5rem;
  position: absolute;
  top: 120px;
  transition: 2s;
  display: none;
}

.field {
  resize: none;
  border: 3px solid #32C889;
  padding: 1.25rem;
  font-family: "Cabin", serif;
  margin: 0 auto;
  display: block;
}

#edit_cont .notes_cont .field {
  width: 60%;
}

#edit_cont .val_cont .field {
  width: 25%;
}

select {
  font-size: 1.25rem;
}

#edit_submit {
  width: 40%;
  margin: 5% auto;
  display: block;
  font-size: 1.25rem;
}

#back_arrow {
  margin-top: 10px;
  float: right;
}

.notes_cont {
  clear: both;
}

#edit_ok {
  display: none;
  position: absolute;
  width: 200px;
  padding: 2rem;
  background-color: #E89EA4;
  border: 3px solid #D24652;
  border-radius: 8px;
  left: calc(50% - (100px + 2.25rem));
  top: 40%;
}

#edit_ok h2 {
  color: white;
}

#hide_msg {
  padding: 1rem 1.5rem;
  background-color: #F9F2E6;
  border-color: #F9F2E6;
  color: black;
  font-size: 1.25rem;
}


@media only screen and (max-width: 780px){

  #entry_cont {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }

  textarea {
    width: 80%;
    height: 80px;
  }

  #edit_cont .field {
    padding: .25rem;
    font-size: 1rem;
  }

  #edit_cont select {
    width: 30%;
  }

  #edit_submit {
    margin-top: 5%;
  }

}

@media only screen and (max-width: 650px){
  #edit_cont {
    margin-bottom: 15%;
  }
}

@media only screen and (max-width: 500px){
  #edit {
    width: 60%;
  }

  #edit_cont {
    width: 90%;
    padding: 0 2.5%;
  }

  #edit_cont .notes_cont .field {
    width: 90%;
  }

  #edit_cont .val_cont .field {
    width: 50%;
  }
}
