/*complementary red C83270
caribbean green 32C889
lighter green tint hover D2F4E6
*/

body {
  margin: 0;
  width: 100%;
}

h1, h2, h3 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.button {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  background-color: #E1848C;
  border-color: #E1848C;
  color: white;
  padding: .8rem;
}

.button:hover {
  background-color: #EAA7AD;
}

.field {
  resize: none;
  border: 3px solid #32C889;
  padding: 1.25rem;
  font-family: "Cabin", serif;
  margin: 0 auto;
  display: block;
  font-size: 1.25rem;
}

label {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
  align-self: center;
}


@media only screen and (max-width: 645px){
  header h2 {
    display: none;
  }
}

@media only screen and (max-width: 521px){
  header h1 {
    display: none;
  }

  #mobile_brand {
    display: block;
  }

  #mobile_brand img {
    height: 70px;
    width: auto;
    margin-left: 2.5%;
  }


}
