/*complementary red C83270
caribbean green 32C889
lighter green tint hover D2F4E6
darker green tint #248F62
*/

button {
  -webkit-appearance: none !important;
}

body {
  margin: 0;
  width: 100%;
}

h1, h2, h3 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.button {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  background-color: #E1848C;
  border-color: #E1848C;
  border-radius: 7px;
  color: white;
  padding: .8rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button:hover {
  background-color: #EAA7AD;
  cursor: pointer;
}

.field {
  resize: none;
  border: 3px solid #32C889;
  padding: 1.25rem;
  font-family: "Cabin", serif;
  margin: 0 auto;
  display: block;
  font-size: 1rem;
  width: 70%;
}

label {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
  align-self: center;
}

p {
  font-family: "Cabin", serif;
}

a {
  text-decoration: none;
  color: white;
}

#back_arrow:hover{
  cursor: pointer;
}

#create_ok {
  display: none;
  position: absolute;
  width: 200px;
  padding: 2rem;
  background-color: #E89EA4;
  border: 3px solid #D24652;
  border-radius: 8px;
  left: calc(50% - (100px + 1.5rem));
  top: 40%;
}

#create_ok h2 {
  color: white;
}

#hide_msg {
  background-color: #F9F2E6;
  border-color: #F9F2E6;
  color: black;
}

select {
  background-color: white;
}
