/*complementary red C83270
caribbean green 32C889
lighter green tint hover D2F4E6
*/

body {
  margin: 0;
}

header {
  background-color: #32c889;
  color: white;
  max-height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas:
    "branding nav";
}

#branding {
  grid-area: branding;
}

.nav_img {
  height: 60px;
  width: auto;
  float: right;
}

header nav {
  grid-area: nav;
  margin-right: 7.5%;
  align-self: center;
}

header nav ul {
  font-size: 1.25rem;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  right: 3%;
  top: 60px;
  background-color: #84CDC2;
  transition: 1.5s;
}

header nav ul li {
  text-decoration: none;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Cabin', sans-serif;
}

header nav ul li a:hover {
  color: #629881;
}

header h1 {
  display: inline-block;
  grid-area: h1;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

header h2 {
  display: inline-block;
  font-family: 'Cabin', sans-serif;
  font-style: italic;
  font-size: 1rem;
  align-self: center;
}
